<h3>Trainer</h3>
<p>Name: <%= @trainer.name if @trainer.name %></p>
<p>Email: <%= @trainer.email if @trainer.email %></p>

	<% @trainer.pokemon.each do |u| %>
	Name: <p> <%= u.name %> </p>
	Level: <p> <%= u.level %> </p>
	Health: <p><%= u.health %></p>
	<%= button_to "Damage This pokemon!", damage_path(id: u), :class => "button medium", :method => :patch %>
	<% end %>

	<%= button_to "Create new Pokemon!", create_path(id: u), :class => "button medium", :method => :create %>
